{% if article.tags %}
<br/>
<span class="label label-default">{{ _('Tags') }}</span>
{% for tag in article.tags %}
	<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% if not loop.last %}
        /
    {% endif %}
{% endfor %}
{% endif %}
